<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="onboard">OnBoard</a>
        <a class="nav-item nav-link" routerLink="dashboard">DashBoard</a>
        <a class="nav-item nav-link" routerLink="board">Market Snapshots</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>

    {{currentUser.firstName}}
</nav>

<!-- main app container -->
<div class="jumbotron">
   <!-- <div class="container">  --> 
                <router-outlet></router-outlet>          
 <!--   </div>-->  
 <ngbd-modal-options></ngbd-modal-options>
</div>

<!-- credits -->
<div class="text-center">   
    <p>  © 2020 Copyright: <a href="https://www.cisco.com/"> cisco.com</a></p>
</div>